/*all padding and borders added will cut into the width, not add to it.  
margin will add to it*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.mainHeader:after, .postContainer:after, comment:after, .socialWrap:after {
  content: "";
  display: table;
  clear: both; }

/***** grid *****/
.post.details, .fullpost.details {
  width: 12.5%; }

.comment.image {
  width: 18.75%; }

.post.content, .fullpost.content {
  width: 75%; }

.blog, .comments, .comment.content {
  width: 81.25%; }

body, .mainHeader, .mainFooter, comment, .commentForm {
  width: 100%; }

/***** Fonts *****/
.mainTitle {
  font-size: 3rem; }

.post, .fullpost, .mainNav li, .commentForm, .comments {
  font-size: 1.8rem; }

.post.details, .fullpost.details, .comment.details, footer {
  font-size: 1.2rem; }

.post .postTitle, .fullpost .postTitle {
  font-size: 2.2rem; }

/***** General ******/
body {
  background: url("../images/linedpaper.png");
  height: 100%;
  font-size: 100%; }

.mainHeader, .mainFooter {
  height: 10rem; }

.blog {
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 auto;
  padding: .5rem 1.5rem; }

/***** reusable classes *****/
.byline {
  font-style: italic;
  margin: 1.5rem 0; }

/***** Header ******/
.mainLogo, .mainTitleAndNav {
  float: left; }

.mainLogo {
  height: 7rem;
  margin: 0rem 2rem 0 4rem; }

.mainHeader {
  padding-top: 3rem; }

.mainNav li {
  display: inline-block;
  margin: 1rem 1rem 0 3rem; }

/***** Posts ******/
.postContainer {
  display: block;
  margin: 2rem 0; }

.post, .fullpost {
  float: left;
  margin: 2%; }
  .post .tags li, .fullpost .tags li {
    display: inline; }

/***** Comments ******/
.comments {
  float: right; }

comment, .comment.header, .comment.body {
  display: block;
  min-height: 5rem; }

.comment.details {
  padding: .5rem .5rem .5rem 0; }

.comment.content, .comment.image {
  float: left;
  padding: .5rem; }

/***** Comment Form *****/
.commentForm {
  height: 2.5rem;
  margin: .5rem;
  padding: .5rem; }

.commentContent {
  height: 8rem; }

/***** Footer ******/
footer {
  margin-top: 2rem;
  text-align: center; }

.social {
  margin: .5rem; }
