<section class="fullpost details">
	<time datetime="2014-10-30"> {{post.date | date}}</time>
	<ul class="tags">
		<li ng-repeat="tag in post.tags"><a href="#">{{tag}}, </a></li>
	</ul>
	<a href="#"> {{post.comments.length}} comments </a>
</section>
<section class="fullpost content">	
	<h2 class="postTitle">{{post.title}}</h2>
	<p class="byline">{{post.author}}</p>
	<p>{{post.body}}</p>
</section>
<section class="fullpost comments">
	<comment ng-repeat="comment in post.comments" comment="comment"></comment>
</section>